@use "sass:math";

@keyframes noise-anim {
  $steps: 20;
  @for $i from 0 through $steps {
    #{math.percentage($i * math.div(1, $steps))} {
      $r: math.random(500);
      clip: rect($r + px, 9999px, $r + math.random(100) + px, 0);
      left: math.random(10) - 5%;
      filter: saturate(math.div(math.random(100), 5));
      transform: scale(1 + math.div(math.random(3), 10));
    }
  }
}

@keyframes noise-anim-2 {
  $steps: 20;
  @for $i from 0 through $steps {
    #{math.percentage($i * math.div(1, $steps))} {
      $k: math.random(500);
      clip: rect($k + px, 9999px, $k + math.random(50) + px, 0);
      left: math.random(10) - 5%;
      transform: scale(1 + math.div(math.random(3), 10));
      filter: saturate(math.div(math.random(100), 5));
    }
  }
}

.glitch,
.glitch-inner,
.glitch-inner-2 {
  width: 100vw;
  height: 100vh;
  background-image: url("/LandingPage/textureBg.png");
  // background:
  //   radial-gradient(circle at center, rgba(255, 16, 16, 0.2), transparent),
  //   repeating-linear-gradient(transparent 2px, rgba(255, 255, 255, 0.02) 3px);
  background-size: contain;
}

.glitch {
  position: fixed;
  top: 0;
  overflow: hidden;
  height: 100vh;
}
.glitch-inner {
  position: absolute;
  top: 0;
  left: 0;
  opacity: 100;
  clip: rect(60px, 9999px, 60px, 0);
  animation: noise-anim 3s infinite step-end;
}

.glitch-inner-2 {
  position: absolute;
  top: 0;
  left: 0;
  opacity: 100;
  clip: rect(60px, 9999px, 60px, 0);
  animation: noise-anim-2 3s infinite step-end;
}

.glitch-inner-3 {
  position: absolute;
  bottom: 0;
  left: 0;
  opacity: 100;
  clip: rect(60px, 9999px, 60px, 0);
  animation: noise-anim-2 3s infinite step-end;
}

.glitch-inner-4 {
  position: absolute;
  bottom: 0;
  left: 0;
  opacity: 100;
  clip: rect(60px, 9999px, 60px, 0);
  animation: noise-anim-2 3s infinite step-end;
}
